.body {
    margin: 0;
    text-align: center;
    
}

.top-container {
    background-color: #228989;
    position: relative;
    padding-top: 50px;
    height: 500px;
    background: linear-gradient(300deg, #00bfff, #228989, #042326);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;

}

.title-text {
    text-align: center;
    color: #042326;
    font-family: sans-serif;


}

h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: "Sacramento", cursive;
}

.h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
    color: cadetblue;
}

.middle-container {
    text-align: center;
    padding: 100px;
    /* background-color: #228989;
     background: linear-gradient(300deg, #00bfff, #228989, #042326);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite; */


}

.profile {
    border-radius: 6.5rem;
    margin-bottom: 40px;
}

hr {
    border: dotted #033232 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;

}

.skills {
    text-align: center;
    height: 400px;
    /* background-color: #0f8383;
    font-size: 1.3rem;
     background: linear-gradient(300deg, #00bfff, #228989, #042326);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite; */

}

/* .My skills {
    color: #042326;
    font-family: "Montserrat", sans-serif;
    margin: 100px;
    padding: 100px;
} */

.img {
    margin: auto;
    display: block;
    text-align: center;
    justify-content: center;
}

.Hello {
    font-size: 2.5rem;
}

.parent {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-template-rows: repeat(1, 1fr);
    width: 50%;
    margin: 100px auto 0 auto;
    text-align: left;
    row-gap: 2rem;
}
 .contact-me{
    padding: 50px;
 }
 .button{
    background-color: #033232;
    color: #add3e0;
    border-radius: 10%;
    height: 40px;
    width: 150px;
   
 }
 .bottom-container{
    height: 200px;
    background: linear-gradient(300deg, #00bfff, #228989, #042326);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    padding: 50px;
 }
 .footer-link{
    margin: 50px;
 }

 .copyright{
    margin: 50px;
 }
 